version: '3'

services:
  client-portal:
    # Imagem gerada automaticamente pelo GitHub Actions
    image: ghcr.io/lazzariagenciaweb/members_azz:latest
    # build: .  <-- Removido pois Swarm não suporta build
    restart: always
    # ports:
    #   - "3000:3000" # Desativado para usar Traefik
    expose:
      - "3000"
    networks:
      - network_public
    environment:
      - NODE_ENV=production
    # Configuração para Docker Swarm (Recomendado pois sua rede é Swarm)
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.portal-cliente.rule=Host(`app.azzagencia.com.br`)"
        - "traefik.http.routers.portal-cliente.entrypoints=websecure"
        - "traefik.http.routers.portal-cliente.tls.certresolver=letsencrypt"
        - "traefik.http.services.portal-cliente.loadbalancer.server.port=3000"
        - "traefik.docker.network=network_public"
    # Configuração para Docker Normal (Compatibilidade)
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portal-cliente.rule=Host(`app.azzagencia.com.br`)"
      - "traefik.http.routers.portal-cliente.entrypoints=websecure"
      - "traefik.http.routers.portal-cliente.tls.certresolver=myresolver"
      - "traefik.http.services.portal-cliente.loadbalancer.server.port=3000"

networks:
  network_public:
    external: true
