version: '3'

services:
  client-portal:
    image: lazzariagenciaweb/portal-cliente:latest
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
